Atividade Prática Supervisionada
Atividade 03: Introdução à 

Grupo:
<ul>
<li>João Pedro Mendonça Oliveira
<li>Antonio Gabriel Batista Souza
<li>Diego Alessandro Batista Santos
<ul>

In [1]:
import pandas as pd

In [2]:
# Leitura dos dados
df= pd.read_csv('Cópia de dados_atividade_3_alunos - dados_atividade_3.csv')
df

,Abastecimento de água - Brasil,Unnamed: 1,Unnamed: 2
0,Moradores por Município e Ano,NaN,NaN
1,Período:1991,2000,2010.0
2,"Município;""1991"";""2000"";""2010""",NaN,NaN
3,110001 Alta Floresta D'Oeste;31870;25951;24054,NaN,NaN
4,110037 Alto Alegre dos Parecis;-;12425;12758,NaN,NaN
...,...,...,...
5566,522230 Vila Propício;-;4191;4784,NaN,NaN
5567,530010 Brasília;1586552;2035224;2543040,NaN,NaN
5568,Total;145657806;168370893;189461396,NaN,NaN
5569,Fonte: IBGE - Censos Demográficos de 1991,2000 e 2010,NaN
5570,Consulte o site da Secretaria Estadual de Saúd...,NaN,NaN

In [3]:
# Tratamento dos dados

# Separa a coluna que contém os dados (coluna 1) em 4 colunas e remove as linhas inúteis
new_df = dict(df['Abastecimento de água - Brasil'].str.split(';')[2:-2])

# Faz a transposição 
new_df = pd.DataFrame(new_df).T

# Atualiza o header do df para a primeira linha e remove aspas das strings
new_df.columns = new_df.iloc[0].str.replace(pat="\"",repl="")

# Reseta o índice agora com um novo df
new_df.reset_index(drop=True, inplace=True)

# Remove a primeira linha agora que ela é o header
new_df = new_df.drop(0)

# Remove nome da coluna de índices
new_df.columns.name = None
new_df

                           Município       1991       2000       2010
1       110001 Alta Floresta D'Oeste      31870      25951      24054
2     110037 Alto Alegre dos Parecis          -      12425      12758
3                110040 Alto Paraíso          -      12174      17098
4            110034 Alvorada D'Oeste      20956      19745      16677
5                   110002 Ariquemes      83208      71874      89635
...                              ...        ...        ...        ...
5562           522205 Vicentinópolis       5132       5970       7279
5563                 522220 Vila Boa          -       3262       4700
5564            522230 Vila Propício          -       4191       4784
5565                 530010 Brasília    1586552    2035224    2543040
5566                           Total  145657806  168370893  189461396

[5566 rows x 4 columns]